<h1>Add category : </h1>
<form action='/addedCategory'>
    <div class="form-group">
        <label for="categoryName">Category name</label>
        <input id="categoryName" name="categoryName" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Add category</button>
</form>