<h1>Product added!</h1>
<p>Product name : $productName</p>
<p>Units in stock : $units</p>
<p>Category ID : $categoryName</p>
<p><a href='/' >Back to root</a></p>
<p><a href='/allProducts' >View all Products</a></p>