<h1>Category added!</h1>
<p>Company name : $companyName</p>
<p>City : $city</p>
<p>Street : $street</p>
<p><a href='/' >Back to root</a></p>
<p><a href='/allSuppliers' >View all Suppliers</a></p>