<h1>Add transaction : </h1>
<form action='/addedTransaction'>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" class="form-control" type="number">
    </div>
    <div class="form-group">
        <label for="products">Products (seperated by space)</label>
        <input id="products" name="products" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Add transaction</button>
</form>