<h2>$categories.size() Categories in database.</h2>
</br>
List of all categories :

#set($i=1)
<table class="gridtable">
    <tr>
        <th>Lp.</th>
        <th>Name</th>
        <th>CategoryID</th>
    </tr>
    #foreach($category in $categories)
        <tr>
            <td>$i</td>
            <td>$category.getName()</td>
            <td>$category.getId()</td>
        </tr>
        #set ($i = $i +1)
    #end
</table>
</br>
<p><a href='/'>Back to root</a></p>