<h1>Select Product</h1>
<form action='/showProductList'>
    <div class="form-group">
        <label for="productName">Product name</label>
        <input id="productName" name="productName" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Show</button>
</form>