<h1>Select Supplier</h1>
<form action='/showSupplierList'>
    <div class="form-group">
        <label for="companyName">Company name</label>
        <input id="companyName" name="companyName" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Show</button>
</form>