<h1>Select Transaction</h1>
<form action='/showTransaction'>
    <div class="form-group">
        <label for="transactionId">Transaction ID</label>
        <input id="transactionId" name="transactionId" class="form-control" type="number">
    </div>
    <button type="submit" class="btn">Show</button>
</form>